version: '3.9'
services:
  seedinv-gateway:
    restart: always
    image: nginx:latest
    container_name: seedinventory-apigateway
    volumes:
      - "./nginx/default.conf:/etc/nginx/conf.d/default.conf"
    ports:
      - 8080:80
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 1m
      timeout: 10s
      retries: 5
      start_period: 20s

    depends_on:
      - seedinv-mongodb
      - billing
      - invtracetrack
      - master-data
      - movement-log
      - stock
      - stock-block-sale
      - stock-receipt
      - stock-return
      - stock-sale
      - stock-transfer
      - stock-place-sale-order
      - taginvdetail
      - dashboard
      - block-order

  seedinv-mongodb:
    restart: always
    image: mongo:4.0
    container_name: seedinventory-mongodatabase
    volumes:
      - "./productionVolumes/mongodb/data/db:/data/db"
    ports:
      - 27017:27017
    healthcheck:
      test: echo 'db.runCommand({serverStatus:1}).ok' --quiet | grep 1
      interval: 10m
      timeout: 10s
      retries: 3
      start_period: 20s

  billing:
    restart: always
    build:
      context: .
      dockerfile: apps/billing/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-billing:${RELEASE_TAG}
    container_name: seedinventory-billing
    env_file:
      - ./apps/billing/.env
    ports:
      - 3012:3012

    healthcheck:
      test: [ "CMD", "curl", "http://127.0.0.1:3012/billing/health" ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s
    command: [ "pm2-runtime", "dist/apps/billing/main.js" ]
    depends_on:
      - seedinv-mongodb

  invtracetrack:
    restart: always
    build:
      context: .
      dockerfile: apps/invtracetrack/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-invtracetract:${RELEASE_TAG}
    container_name: seedinventory-invtracetrack
    env_file:
      - ./apps/invtracetrack/.env
    ports:
      - 3009:3009

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3009/invtracetrack/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s
    command: [ "pm2-runtime", "dist/apps/invtracetrack/main.js" ]
    depends_on:
      - seedinv-mongodb

  master-data:
    restart: always
    build:
      context: .
      dockerfile: apps/master-data/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-master-data:${RELEASE_TAG}
    container_name: seedinventory-master-data
    env_file:
      - ./apps/master-data/.env
    ports:
      - 3008:3008

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3008/master-data/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/master-data/main.js" ]
    depends_on:
      - seedinv-mongodb

  movement-log:
    restart: always
    build:
      context: .
      dockerfile: apps/movement-log/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-movement-log:${RELEASE_TAG}
    container_name: seedinventory-movement-log
    env_file:
      - ./apps/movement-log/.env
    ports:
      - 3003:3003

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3003/movement-log/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/movement-log/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock:
    restart: always
    build:
      context: .
      dockerfile: apps/stock/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock:${RELEASE_TAG}

    container_name: seedinventory-stock
    env_file:
      - ./apps/stock/.env
    ports:
      - 3001:3001

    healthcheck:
      test: [ "CMD", "curl", "http://127.0.0.1:3001/stock/health" ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/stock/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock-block-sale:
    restart: always
    build:
      context: .
      dockerfile: apps/stock-block-sale/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock-block-sale:${RELEASE_TAG}

    container_name: seedinventory-stock-block-sale
    env_file:
      - ./apps/stock-block-sale/.env
    ports:
      - 3010:3010

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3010/stock-block-sale/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/stock-block-sale/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock-receipt:
    restart: always
    build:
      context: .
      dockerfile: apps/stock-receipt/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock-receipt:${RELEASE_TAG}

    container_name: seedinventory-stock-receipt
    env_file:
      - ./apps/stock-receipt/.env
    ports:
      - 3002:3002

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3002/stock-receipt/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/stock-receipt/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock-return:
    restart: always
    build:
      context: .
      dockerfile: apps/stock-return/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock-return:${RELEASE_TAG}

    container_name: seedinventory-stock-return
    env_file:
      - ./apps/stock-return/.env
    ports:
      - 3004:3004

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3004/stock-return/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/stock-return/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock-sale:
    restart: always
    build:
      context: .
      dockerfile: apps/stock-sale/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock-sale:${RELEASE_TAG}

    container_name: seedinventory-stock-sale
    env_file:
      - ./apps/stock-sale/.env
    ports:
      - 3006:3006

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3006/stock-sale/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/stock-sale/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock-transfer:
    restart: always
    build:
      context: .
      dockerfile: apps/stock-transfer/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock-transfer:${RELEASE_TAG}
    container_name: seedinventory-stock-transfer
    env_file:
      - ./apps/stock-transfer/.env
    ports:
      - 3011:3011

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3011/stock-transfer/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/stock-transfer/main.js" ]
    depends_on:
      - seedinv-mongodb

  taginvdetail:
    restart: always
    build:
      context: .
      dockerfile: apps/taginvdetail/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-taginvdetail:${RELEASE_TAG}
    container_name: seedinventory-taginvdetail
    env_file:
      - ./apps/taginvdetail/.env
    ports:
      - 3007:3007

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3007/taginvdetail/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/taginvdetail/main.js" ]
    depends_on:
      - seedinv-mongodb

  dashboard:
    restart: always
    build:
      context: .
      dockerfile: apps/dashboard/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-dashboard:${RELEASE_TAG}
    container_name: seedinventory-dashboard
    env_file:
      - ./apps/dashboard/.env
    ports:
      - 3013:3013

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3013/dashboard/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/dashboard/main.js" ]
    depends_on:
      - seedinv-mongodb

  block-order:
    restart: always
    build:
      context: .
      dockerfile: apps/block-order/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-block-order:${RELEASE_TAG}
    container_name: seedinventory-block-order
    env_file:
      - ./apps/block-order/.env
    ports:
      - 3014:3014

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3014/block-order/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/block-order/main.js" ]
    depends_on:
      - seedinv-mongodb

  mark-for-testing:
    restart: always
    build:
      context: .
      dockerfile: apps/mark-for-testing/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-mark-for-testing:${RELEASE_TAG}
    container_name: seedinventory-mark-for-testing
    env_file:
      - ./apps/mark-for-testing/.env
    ports:
      - 3015:3015

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3015/mark-for-testing/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command: [ "pm2-runtime", "dist/apps/mark-for-testing/main.js" ]
    depends_on:
      - seedinv-mongodb

  stock-place-sale-order:
    restart: always
    build:
      context: .
      # dockerfile: apps/stok-place-sale-order/Dockerfile
    image: chub.cloud.gov.in/moa1c0-seed-chain-automation/seedinv-stock-place-sale-order:${RELEASE_TAG}
    container_name: seedinventory-stock-place-sale-order
    env_file:
      - ./apps/stok-place-sale-order/.env
    ports:
      - 3005:3005

    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "http://127.0.0.1:3005/stock-place-sale-order/health"
        ]
      interval: 10m
      timeout: 30s
      retries: 5
      start_period: 30s

    command:
      [
        "pm2-runtime",
        "dist/apps/stok-place-sale-order/main.js"
      ]
    depends_on:
      - seedinv-mongodb
